<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form_style.css'%}">
</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
          <h1 class="heading">Recruitment List</h1>
          <p>Professor ID: <input type="number" name="professorID" id="number" required></p>
          <hr><hr>
        <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</body>
</html>